/* ===========================
   Global Styles
=========================== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4c195;
    color: #181717;
    margin: 0;
    padding: 0;
    line-height: 1.9;
}

p {
    line-height: 1.7;
    margin-bottom: 15px;
    padding: 20px;
}

h1, h2 {
    font-family: Georgia, serif;
}

/* ===========================
   Header
=========================== */
header {
    background-color: #6d6b3f;
    color: white;
    text-align: center;
    padding: 20px 20px;
    border-bottom: 3px solid #131313;
}

header h1 {
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 50px;
}

h2 {
    color: #471b06;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 100;
    text-align: center;
}


/* ===========================
   Layout Using Grid
=========================== */
section {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}

/* Hover effect */
section:hover {
    transform: scale(1.10);
}

/* Ingredients & Instructions side-by-side on large screens */
.ingredients-instructions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* ===========================
   Lists
=========================== */
ul li, ol li {
    margin-bottom: 8px;
}

/* ===========================
   Image
=========================== */
img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #082d10;
}

